<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardware.Info" version="101.1.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="System.CodeDom" version="9.0.9" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="8.0.0" targetFramework="net472" />
  <package id="System.Management" version="9.0.9" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>